<ion-header>
  <ion-toolbar color ="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
  </ion-buttons>  
    <ion-title>
      LOGO
    </ion-title>
  </ion-toolbar>

</ion-header>



<ion-content>
  <ion-grid>

        <input type="text" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search (click) = "ssetLocation()">
      <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
        
        <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
          (dragEnd)="markerDragEnd($event)"></agm-marker>
          
      </agm-map>
      <ion-button expand="block" color = "danger" (click) = postadd(search.value) width = 100%>Post your ad</ion-button>
      <!-- <h5>Address: {{address}}</h5>
      <div>Latitude: {{latitude}}</div>
      <div>Longitude: {{longitude}}</div> -->
    
    
  
  </ion-grid>
  

</ion-content>

